body {
  width: 960px; 
  margin: 0 auto;
  background: aliceblue;
  font-family: $font_std;
  font-size: 1.5vw;
  color: darkblue;
}

h1{
  font-size: 3vw;
}

p{
  padding-top: 1vw;
}

input {
  // display: block;
  // margin: auto;
  // width: 30vw;
  // color: $black;
  // font-size: $input-font-size;
}


ul{
  
}