header {
  background: $black;
  font-size: 1.5vw;
  text-align: center;
  padding: $gutter_std;
  margin-bottom: $margin-bottom-header;

  a {
      color: $white;
  }
}

footer {
  background: $black;
  color: $white;
  padding: $gutter_std;
}

form {
  width: 40vw;; 
  margin: 0 auto;
}

input {
  // margin-bottom: 1vw;
  display: inline;
}

li{
  padding: 1vw;
}

#nav li {
  float: left;

  form {
    display: inline;
  }

}